.list .heading {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(250px, 100%), 1fr));
    gap: 2rem 0.75rem;
}

.btn {
    outline: none;
    cursor: pointer;
    border: none;
}

@media (width < 700px) {
    .list .heading {
        margin-bottom: 1.75rem;
    }
}